graft docs
graft src
graft tests

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib *.enc