[tool.black]
line-length = 88
target-version = ["py35", "py36", "py37", "py38"]
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.check-manifest]
ignore = [
    ".flake8",
    ".pre-commit-config.yaml",
    ".travis.yml",
    "pyproject.toml",
    "tox.ini",
]
